<div>
  <h1>Stupid coaching</h1>
  <div id="question">
    <p><%= @question %></p>
    <p><%='-You'%>
  </div>
  <div id="answer">
    <p><%= @answer %></p>
    <p><%='-Your Coach'%></p>
  </div>
  <%=link_to'Ask a new question', ask_path %>
</div>
